.logo-head {
  position: sticky;
  top: 2px;
  display: flex;
  padding-top: 16px;
}

.registration {
  .input-group {
    position: relative;

    input {
      width: 100%;
      padding: 10px 0;
      border: none;
    }

    label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 18px;
      font-size: 16px;
      color: rgba(179, 179, 179, 1);

      transition: 0.2s;
      background-color: transparent;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: 15%;
      font-size: 12px;
      color: rgba(179, 179, 179, 1);
    }

    input:focus {
      outline: none;
    }
  }

  ///используеться из за масски телефона
  .input-group-mask {
    position: relative;

    input {
      width: 100%;
      padding: 10px 0;
      border: none;
    }

    label {
      position: absolute;
      top: 30%;
      transform: translateY(-50%);
      left: 18px;
      font-size: 16px;
      color: rgba(179, 179, 179, 1);

      transition: 0.2s;
      background-color: transparent;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: 13%;
      font-size: 12px;
      color: rgba(179, 179, 179, 1);
    }

    input:focus {
      outline: none;
    }
  }

  .filled-input {
    border: 1.5px solid rgba(5, 120, 214, 1) !important;
    background: rgba(233, 233, 233, 1);
  }

  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }

  .registration__content-title {
    @include adaptiv-font(35, 28);
    padding-bottom: 40px;

    @media (max-width: 1076px) {
      padding-bottom: 24px;
    }
  }

  .registration__content {
    display: grid;
    grid-template-columns: 572fr 630px;
    // align-items: center;
    gap: 78px;

    @media (max-width: 1076px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 22px;
    }

    .logo-head {
      display: flex;
      justify-content: space-between;

      .logo-icon {
        display: none;

        @media (max-width: 1076px) {
          display: flex;
          gap: 8px;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  .registration__content-text-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      padding: 18px;
      color: rgba(179, 179, 179, 1);
      color: black;
      border-radius: 4px;
      border: 1.5px solid rgba(233, 233, 233, 1);
      font-size: 16px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
      margin-bottom: 40px;
      font-weight: 400;
      line-height: 1.17;
      width: 100%;

      @media (max-width: 1076px) {
        margin-bottom: 24px;
      }

      &::placeholder {
        color: rgba(179, 179, 179, 1);
      }
    }

    .error-text {
      font-size: 12px;
      font-weight: 400;
      line-height: 14.4px;
      text-align: left;
      margin-bottom: 20px;
      width: 124%;
      color: rgba(179, 179, 179, 1);
    }

    .registration__content-text-bottom {
      padding-top: 30px;
      display: flex;
      gap: 15px;
      @include adaptiv-font(14, 14);
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      width: 132%;
      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .flex-container {
      display: flex;
      gap: 20px;

      input {
        max-width: 215px;

        @media (max-width: 970px) {
          max-width: 100%;
        }
      }
    }

    .item-form {
      display: flex;
      flex-direction: column;
      max-width: 305px;

      .atention-text {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding-bottom: 20px;
        width: 120%;
      }

      //   .pb20 {
      //     margin-bottom: 20px;
      //   }

      //   .blue-text {
      //     padding-top: 15px;
      //   }
    }

    .reg-description-text {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-top: 15px;

      .top-description {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: left;
        color: rgba(179, 179, 179, 1);
      }

      .bottom-description {
        display: flex;
        gap: 10px;
      }

      p {
        font-size: 10px;
        font-weight: 400;
        line-height: 11.72px;
        text-align: left;
        color: rgba(179, 179, 179, 1);
      }
    }
  }

  .disabled-btn {
    background: rgba(233, 233, 233, 1);
    cursor: not-allowed !important;
  }

  .item-form-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 970px) {
      max-width: 100%;
    }
    input {
      margin-bottom: 0px !important;
    }
  }
  .item-form-container2 {
    max-width: 305px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 970px) {
      max-width: 100%;
    }
    input {
      margin-bottom: 0px !important;
    }
  }
  .removed-pass {
    .gray-text {
      padding-bottom: 20px;
    }
    input {
      margin-bottom: 0px;
    }
    .item-form {
      gap: 15px;
    }
  }

  .slider-section {
    display: flex;
    align-items: center;
    gap: 20px;

    .slider-rce-cervises {
      background-image: url(/src/assets/img/first-banner.svg);
      object-fit: contain;
      background-position: center;
      width: 100%;
      object-fit: cover;
      background-repeat: no-repeat;
      height: auto;
      border-radius: 4px;
      max-width: 100%;
      background-size: cover;

      .slider-body {
        .swiper {
          width: 100%;

          @media (max-width: 1076px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }

          .swiper-slide {
            box-sizing: border-box;

            .slider-conteiner {
              padding: 50px 50px 20px 50px;

              @media (max-width: 1076px) {
                padding: 40px 16px 20px 16px !important;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }

              @media (max-width: 600px) {
                display: block;
              }
            }

            .swiper-title-h1 {
              @include adaptiv-font(35, 28);
              font-weight: 700;
              line-height: 1.17;
              color: white;
              padding-top: 137px;

              @media (max-width: 1076px) {
                padding-top: 0px;
              }
            }

            .swiper-items-first {
              max-width: 310px;
            }

            .swiper-desription {
              @include adaptiv-font(18, 14);
              font-weight: 500;
              line-height: 1.17;
              color: white;
              padding-top: 40px;
              padding-bottom: 40px;

              @media (max-width: 1076px) {
                padding-top: 28px;
                padding-bottom: 28px;
              }
            }

            .swiper-bg-white {
              background: rgba(255, 255, 255, 1);
              opacity: 0.88;
              padding: 17.63px 15.94px;
              border-radius: 4px;
              margin-bottom: 177px;
            }

            .rf-icon {
              padding-bottom: 10px;
            }

            .rf-text {
              font-size: 12px;
              font-weight: 400;
              line-height: 1.3;
              color: rgba(51, 51, 51, 1);
            }

            .list-advantages {
              @media (max-width: 1076px) {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
              }

              ul {
                padding: 40px 0px;
                display: grid;
                grid-template-columns: 274px 1fr;
                grid-gap: 30px;

                @media (max-width: 1076px) {
                  grid-template-columns: 1fr;
                  gap: 12px;
                  padding: 12px 0px;
                }

                li {
                  display: flex;
                  align-items: flex-start;
                  gap: 10px;

                  .cube {
                    padding: 8px;
                    background: rgba(153, 204, 255, 1);
                    border-radius: 4px;
                  }

                  .advantages {
                    font-weight: 500;
                    line-height: 1.17;
                    @include adaptiv-font(16, 14);
                    color: rgba(255, 255, 255, 1);
                  }
                }
              }

              .more-button {
                background: rgba(153, 204, 255, 1);
                padding: 13px 65.5px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                color: rgba(255, 255, 255, 1);
                font-size: 16px;
                @include adaptiv-font(16, 16);
                font-weight: 700;
                line-height: 1.17;
                text-align: left;
                transition: all 0.7s ease-in-out;

                &:hover {
                  box-shadow: 5px 10px 15px 0px rgba(153, 204, 255, 0.5);
                }

                &:focus {
                  box-shadow: 0px 10px 15px 0px rgba(153, 204, 255, 0.5);
                  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2) inset;
                }

                @media (max-width: 500px) {
                  text-align: center;
                  width: 100%;
                }
              }
            }

            .swiper-dop-description {
              padding: 40px 0px;
              font-size: 18px;
              font-weight: 500;
              line-height: 1.3;
              text-align: left;
              color: white;

              @include adaptiv-font(18, 14);

              @media (max-width: 1076px) {
                padding: 28px 0px;
              }
            }
          }

          .swiper-pagination {
            bottom: var(--swiper-pagination-bottom, 18px);

            .swiper-pagination-bullet {
              background: rgba(255, 255, 255, 0.5);
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 2px;
              width: 8px;
              height: 8px;
            }

            .swiper-pagination-bullet-active {
              background: rgba(255, 255, 255, 1) !important;
              border: 1px solid rgba(255, 255, 255, 1) !important;
              border-radius: 2px;
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }

    .slider-icon {
      display: grid;
      gap: 20px;

      img {
        cursor: pointer;
      }

      @media (max-width: 1390px) {
        display: none;
      }
    }
  }

  .learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    @include adaptiv-font(16, 14);
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    padding-top: 20px;
    cursor: pointer;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }

  @keyframes arrow-transform {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(10px);
    }
  }

  @keyframes arrow-animte {
    0% {
      opacity: 0.3;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.3;
    }
  }

  .more-icon {
    display: flex;
    flex-direction: column;
  }

  .arrow-animate {
    animation: arrow-transform 2s infinite;
    display: contents;

    svg {
      opacity: 0;
      transform: translateY(0);
      animation: arrow-animte 2s infinite;
      margin-top: -5px;
    }

    svg:nth-child(1) {
      animation-delay: 0s;
      margin-top: 0px;
    }

    svg:nth-child(2) {
      animation-delay: 0.2s;
    }

    svg:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  .flex-wrap {
    display: flex;
    flex-direction: column;
    gap: 141px;

    @media (max-width: 1076px) {
      gap: 23px;
    }
  }

  .remove-password {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
    color: rgba(5, 120, 214, 1);
  }
}

.lernn-full {
  padding-top: 200px;

  @media (max-width: 1076px) {
    padding-top: 80px;
  }

  .lern-body {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 768px) {
      gap: 16px;
    }

    .text-left {
      text-align: left;
      @include adaptiv-font(35, 20);
      font-weight: 700;
      line-height: 1.17;

      @media (max-width: 768px) {
        text-align: start;
        line-height: 1.4;
      }
    }

    .border-blue {
      padding: 10px;
      color: rgba(5, 120, 214, 1);
      border-radius: 4px;
      border: 1px solid rgba(5, 120, 214, 1);
      line-height: 1.17;
      box-sizing: border-box;

      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
        padding-bottom: 8px;
      }
    }

    .is-flex-wrap {
      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .text-rigth {
      text-align: right;
      @include adaptiv-font(35, 20);
      font-weight: 700;
      line-height: 1.172;

      @media (max-width: 768px) {
        text-align: start;
        line-height: 2.172;
      }
    }
  }
}

.list-section {
  padding-top: 200px;

  @media (max-width: 1076px) {
    padding-top: 80px;
  }

  .grey-bg,
  .white-bg,
  .blue-bg {
    width: 100%;
    padding: 60px 160px 100px 160px;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.1);
    margin-top: -41px;

    @media (max-width: 1076px) {
      padding: 40px 26px 60px 16px;
      border-radius: 20px;
    }
  }

  .grey-bg {
    background-color: $grey-bg;
  }

  .white-bg {
    background-color: white; // Fixed typo: 'whote' to 'white'
  }

  .blue-bg {
    color: white;
    background-color: $blue-bg;

    .rf-icon {
      img {
        color: white;
      }
    }
  }

  // Remove margin-top from the first element
  div:first-of-type {
    margin-top: 0;
  }

  .grid-container-2fr {
    display: grid;
    grid-template-columns: 413px 522px;
    gap: 237px;

    @media (max-width: 1076px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .h1 {
      @include adaptiv-font(30, 20);
    }

    .list-description {
      padding-top: 20px;
      display: flex;
      gap: 10px;

      .rigth-list {
        .h1 {
          @include adaptiv-font(35, 20);
          line-height: 1.17;
        }

        .icon-text {
          @include adaptiv-font(12, 12);
          font-weight: 400;
          line-height: 1.3;
        }
      }
    }

    .left-list {
      font-size: 18px;
      @include adaptiv-font(18, 14);
      font-weight: 400;
      line-height: 1.3;
      text-align: left;
    }
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;

    .try-this {
      background: rgba(5, 120, 214, 1);
      padding: 33px 51px;
      @include adaptiv-font(20, 16);
      font-weight: 700;
      line-height: 1.17;
      color: white;
      border-radius: 4px;
      border: none;
      position: relative;
      z-index: 5;
      bottom: 49px;

      @media (max-width: 1076px) {
        padding: 24px 19px;
        bottom: 40px;
      }
    }
  }
}

.conveniences {
  padding-top: 200px;

  @media (max-width: 1076px) {
    padding-top: 80px;
  }

  .section-title {
    @include adaptiv-font(30, 20);
    font-weight: 700;
    line-height: 1.17;
  }

  .conveniences-grid-container {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: 1076px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .conveniences-column {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-direction: column;

      .conveniences-item {
        border: 1px solid rgba(233, 233, 233, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        padding: 20px 33px;
        border-radius: 4px;
        height: 100%;

        .cheked-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
          @include adaptiv-font(16, 14);
          text-align: center;
        }
      }
    }

    @media (max-width: 1076px) {
      img {
        aspect-ratio: 288/340;
        object-fit: contain;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.gift {
  padding-top: 200px;

  @media (max-width: 1076px) {
    padding-top: 80px;
  }

  .gift-container {
    background-image: url(/src/assets/img/horizontal-banner.png);
    object-fit: contain;
    background-position: center;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 4px;
    max-width: 100%;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 92px 89px;
    gap: 122px;

    @media (max-width: 1076px) {
      flex-direction: column;
      gap: 24px;
      padding: 40px 16px;
      align-items: start;
    }

    .gift-icon {
      display: flex;
      gap: 30px;
      align-items: center;

      @media (max-width: 1076px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .gift-text {
        @include adaptiv-font(30, 20);
        font-weight: 700;
        line-height: 1.17;
        text-align: left;
        color: white;

        @media (max-width: 500px) {
          max-width: 196px;
        }
      }
    }

    .gift-button {
      @media (max-width: 1076px) {
        width: 100%;
      }
    }

    .add-gift {
      padding: 33px 51px;
      border-radius: 10px;
      border: 1px solid white;
      color: white;
      font-weight: 700;
      line-height: 1.17;
      @include adaptiv-font(20, 16);
      background-color: transparent;
      cursor: pointer;

      @media (max-width: 1076px) {
        width: 100%;
      }
    }
  }
}

.tarifs {
  padding-top: 200px;

  @media (max-width: 1076px) {
    padding-top: 80px;
  }

  .tarifs-container {
    display: grid;
    grid-template-columns: 461px 1fr;
    gap: 189px;

    @media (max-width: 1076px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    .left-content {
      display: flex;
      gap: 24px;
      flex-direction: column;

      @media (max-width: 1076px) {
        align-items: center;
      }

      @media (max-width: 500px) {
        align-items: start;
      }

      .tarifs-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        @include adaptiv-font(18, 16);
      }

      .get-started {
        @media (max-width: 500px) {
          text-align: center;
          width: 100%;
        }

        button {
          padding: 18px 70.5px;
          text-align: left;
          color: white;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.17;

          @include adaptiv-font(16, 16);

          @media (max-width: 500px) {
            text-align: center;
            width: 100%;
            padding: 18px 62px;
          }
        }
      }
    }

    .right-content {
      .tarifs-list {
        display: flex;
        gap: 19px;
        flex-direction: column;

        .first-row {
          width: 100%;
          padding: 20px 0px 20px 31px;
          border: 1.5px solid rgba(5, 120, 214, 1);
          border-radius: 4px;

          .head-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .time {
              @include adaptiv-font(16, 14);
              font-size: 16px;
              font-weight: 700;
              line-height: 18.75px;
              text-align: left;
            }

            .tarifs-offer {
              background: rgba(5, 120, 214, 1);
              padding: 10px;
              border-radius: 4px 0px 0px 4px;
              color: white;
            }
          }

          .price {
            color: rgba(5, 120, 214, 1);
            font-weight: 700;
            line-height: 1.17;
            @include adaptiv-font(24, 20);
          }
        }

        .bottom-column {
          display: flex;
          gap: 20px;

          @media (max-width: 1076px) {
            flex-direction: column;
          }

          .second-row {
            width: 100%;
            padding: 20px 0px 20px 31px;
            border: 1.5px solid rgba(3, 140, 108, 1);
            border-radius: 4px;

            .head-row {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .time {
                @include adaptiv-font(16, 14);
                font-size: 16px;
                font-weight: 700;
                line-height: 18.75px;
                text-align: left;
              }

              .tarifs-offer {
                background: rgba(3, 140, 108, 1);
                padding: 10px;
                border-radius: 4px 0px 0px 4px;
                color: white;
              }
            }

            .price {
              color: rgba(3, 140, 108, 1);
              font-weight: 700;
              line-height: 1.17;
              @include adaptiv-font(24, 20);
            }
          }

          .thrid-row {
            width: 100%;
            padding: 20px 0px 20px 31px;
            border: 1.5px solid rgba(153, 204, 255, 1);
            border-radius: 4px;

            .head-row {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .time {
                @include adaptiv-font(16, 14);
                font-size: 16px;
                font-weight: 700;
                line-height: 18.75px;
                text-align: left;
              }

              .tarifs-offer {
                background: rgba(153, 204, 255, 1);
                padding: 10px;
                border-radius: 4px 0px 0px 4px;
                color: white;
              }
            }

            .price {
              color: rgba(153, 204, 255, 1);
              font-weight: 700;
              line-height: 1.17;
              @include adaptiv-font(24, 20);
            }
          }
        }
      }
    }
  }
}

.feedback {
  padding-top: 200px;

  @media (max-width: 1076px) {
    padding-top: 80px;
  }

  .feedback-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 120px;
    padding-bottom: 60px;
    position: relative;

    @media (max-width: 1076px) {
      padding-bottom: 24px;
      gap: 0px;
    }

    .feedback-flex {
      display: flex;
      gap: 120px;

      @media (max-width: 1076px) {
        flex-direction: column;
        gap: 16px;
      }
    }

    .slider-btn {
      display: flex;
      gap: 20px;
    }

    .feedback-title {
      font-size: 30px;
      @include adaptiv-font(30, 20);
      font-weight: 700;
      line-height: 1.17;
      text-align: left;
    }

    .feedback-icon-pepole {
      display: flex;

      img {
        border-radius: 50%;
        margin-left: -15px; // Adjust this value to control the overlap amount

        &:first-child {
          margin-left: 0;
          z-index: 1;
        }

        &:nth-child(2) {
          z-index: 2;
        }

        &:last-child {
          z-index: 3;
        }

        @media (max-width: 1076px) {
          max-width: 48px;
          height: 48px;
        }
      }
    }
  }

  .feedback-slider {
    .swiper-feedbeek {
      overflow: hidden;
      position: relative;

      .feedbeks {
        padding: 75px 20px 20px 20px;
        border: 1px solid rgba(233, 233, 233, 1);

        @media (max-width: 1076px) {
          padding: 68px 8px 12px 8px;
        }

        .first-cav {
          position: relative;
          bottom: 46px;
          right: 5px;

          @media (max-width: 500px) {
            right: 3px;
          }
        }

        .second-cov {
          display: flex;
          justify-content: flex-end;
          position: relative;
          bottom: 10px;
        }

        .feedbeks-text {
          @include adaptiv-font(14, 12);
          font-style: italic;
          font-weight: 400;
          line-height: 1.3;
          padding-bottom: 15px;
        }

        .feedbeks-autor {
          @include adaptiv-font(14, 12);
          font-weight: 500;
          line-height: 1.3;
          text-align: left;
        }
      }
    }
  }
}

.footer {
  padding-top: 200px;
  position: relative;

  @media (max-width: 1050px) {
    padding-top: 100px;
  }

  .footer-blue {
    padding: 80px 160px;
    background: rgba(153, 204, 255, 1);
    border-radius: 50px 50px 0px 0px;

    @media (max-width: 1050px) {
      padding: 16px 16px;
      border-radius: 20px 20px 0px 0px;
    }

    .footer-item {
      display: grid;
      position: relative;
      grid-template-columns: 584px 1fr;

      gap: 40px;

      @media (max-width: 1050px) {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
        align-items: center;
      }

      .footer-top {
        display: flex;
        gap: 40px;
        flex-direction: column;

        @media (max-width: 1050px) {
          position: relative;
          bottom: 66px;
          gap: 24px;
        }

        .section-title {
          color: white;
        }

        .footer-subtext {
          color: rgba(255, 255, 255, 1);
          font-size: 18px;
          font-weight: 400;
          line-height: 1.17;
        }

        .btn-footer {
          button {
            color: white;
            padding: 23px 74px;
            border-radius: 4px;
            border: 0px;
            font-size: 16px;
            @include adaptiv-font(16, 16);
            font-weight: 700;
            line-height: 1.17px;
            text-align: left;
          }
        }
      }

      .phone {
        bottom: -14%;
        position: absolute;
        right: -2%;

        @media (max-width: 1150px) {
          right: -23%;
        }

        @media (max-width: 1050px) {
          // aspect-ratio: 329/247.05;
          position: relative;
          bottom: 70px;
          left: 70px;
        }
      }
    }
  }

  .footer-grey {
    background: rgba(233, 233, 233, 1);
    font-weight: 300;
    line-height: 1.7;
    text-align: left;

    @include adaptiv-font(14, 12);

    .footer-grey-container {
      padding-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 50px;

      @media (max-width: 1050px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 450px) {
        grid-template-columns: 1fr;
      }
    }

    .udp {
      @media (max-width: 1050px) {
        padding-top: 12px;
      }
    }
  }
}

@media (max-width: 970px) {
  .registration .registration__content-text-form .item-form {
    max-width: none;
  }

  .item-form-container .flex-container {
    flex-direction: column;
  }

  .flex-container input {
    width: 100%;
    max-width: 100%;
  }
}

///костыль
.button-big.disabled-btn:hover {
  box-shadow: none;
}

.error {
  border: 1.5px solid rgba(252, 63, 63, 1) !important;
  margin-bottom: 5px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.1ms ease-in-out;
}

.checkmark:hover {
  border-color: rgba(153, 204, 255, 1);
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkmark svg {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox input:checked ~ .checkmark svg {
  display: block;
}

.gray-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: rgba(179, 179, 179, 1);
}

.back {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgba(5, 120, 214, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 20px;
  cursor: pointer;
}

.removed-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  width: 120%;

  p {
    width: 120%;
  }
}
.button-big {
  text-align: center;
  padding: 18px 74px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  color: white;
  transition: all 0.3s ease-in-out;
  border-color: transparent;
  width: 100%;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 8px 20px 0px rgba(5, 120, 214, 0.5);
  }

  &:focus {
    box-shadow: 0px 10px 15px 0px rgba(5, 120, 214, 0.4);
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.3) inset;
  }
}
.fancy-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: center;
    @include adaptiv-font(32, 18);
    color: #333333;
  }
  p {
    color: #333333;
    font-family: Roboto;
    @include adaptiv-font(16, 14);
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
  }
  .button-big {
    max-width: 200px;
    padding: 18px 50px;
  }
}

#code-input-section {
  input {
    margin-bottom: 0px;
  }
}
.input-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }