$maxWidth: 1920;
$s1280: 1280px;
$s970: 970px;
$s640: 640px;
$s540: 540px;

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 13px;
    margin: 0 auto;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;

}


@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 480;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 480px) / #{$maxWidth}));

    @media(min-width: 1920px) {
        font-size: $pcSize;
    }
}

.section-title {
    @include adaptiv-font(30, 20);
    font-weight: 700;
    line-height: 1.17;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
    position: relative !important;
    width: 32px !important;
    height: 32px !important;
    padding: 10px !important;
    border: 1px solid rgba(5, 120, 214, 1);
    border-radius: 4px;
    margin-top: 0px;
    transition: all 0.4s ease-in-out;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 17px !important;
}

.swiper-button-prev {
    right: 0px !important;
    left: 0px !important;
}