.h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.172;
}

.h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.172;
}

.blue-text {
    color: #0578D6;
}

.blue-bg {
    background-color: #0578D6;
}