* {
    box-sizing: border-box;
}

.h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.172;
}

.h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.172;
}

.blue-text {
    color: #0578D6;
}

.blue-bg {
    background-color: #0578D6;
}
html{ 
    overflow-x: hidden;
}
body {
    height: 100%;
    position: relative;
    overflow-x: hidden !important;
    font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
}

$grey-bg: rgba(233, 233, 233, 1);
$blue-bg: rgba(153, 204, 255, 1);

.is-blue-btn {
    background-color: #0578D6;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 8px 20px 0px rgba(5, 120, 214, 0.5);

    }

    &:focus {
        box-shadow: 0px 10px 15px 0px rgba(5, 120, 214, 0.4);
        box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.3) inset;

    }
}